.details {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
  background-color: rgba(63, 58, 58, 0.7);
  animation: appears .7s 1;

  &--disappears {
    animation: disappears .7s 1;
  }

  @media (max-width: 768px) {
    font-size: 0.7rem;
    top: 50%;
  }

  &__close {
    position: relative;

    &-button {
      position: absolute;
      top: -290px;
      left: 310px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px solid black;
      font-size: 2rem;
      transition-duration: 0.5s;
      z-index: 1;

      @media (max-width: 768px) {
        left: 0;
        top: -10px;
        height: 30px;
        width: 30px;
        font-size: 1rem;
      }
  
      &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        border: 1px solid white;
        transition-duration: 0.5s;
      }
    }
  }

  &__zoom {
    width: 300px;
    height: fit-content;
    padding: 1rem;
    background-color: rgba(63, 58, 58, 0.5);
    border-radius: 15px;
    animation: appears .7s 1;

    &--disappears {
      animation: disappears .7s 1;
    }

    @media (max-width: 767px) {
      width: 85%;
      position: sticky;
    }

    &-mood {
      display: flex;
      flex-direction: row;
      width: 100%;

      &-mood {
        background-color: white;
        margin: 0.3rem;
        padding: 0.5rem;
      }
      &-result {
        background-color: white;
        margin: 0.3rem;
        padding: 0.5rem;
        border-radius: 12px;
        width: 100%;
        text-align: left;
      }
    }

    &-track {
      width: 280px;
      background-color: white;
      margin: 0.3rem;
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      height: 130px;

      @media (max-width: 768px) {
        width: 95%;
        height: 100px;
      }
      
      &-band {
        margin: 0;
        width: 150px;
        text-align: right;
      }

      &-name {
        margin: 0;
        width: 150px;
        text-align: right;
      }

      &-image {
        position: absolute;
        width: 100px;
        top: 1rem;
        right: 1rem;

        @media (max-width: 768px) {
          width: 70px;
        }
      }
    }

    &-tempo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
        background-color: white;
        border-radius: 12px;
        padding: 0.5rem
      }

      &-freq {
        background-color: white;
        border-radius: 12px;
        padding: 0.5rem
      }
    }

    &-analysis {
      position: relative;
      background-color: white;
      height: fit-content;
      padding: 0.5rem;
      
      &-title {
        text-align: start;
        padding: 0.5rem;
      }

      &-div {
        margin: 0.5rem;
        height: 120px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        display: flex;
        flex-direction: row;
        position: relative;

        &-bar {
          width: 5px;
          height: 110px;
          margin: 0 0.5rem;
          bottom: 0;
          padding: 0;
          background-color: black;
          position: absolute;
          bottom: 0;
          animation: sound 0ms -800ms linear infinite alternate;

          // &:nth-child(1)  { left: 1px; animation-duration: 474ms; }
          // &:nth-child(2)  { left: 20px; animation-duration: 433ms; }
          // &:nth-child(3)  { left: 39px; animation-duration: 407ms; }
          // &:nth-child(4)  { left: 58px; animation-duration: 458ms; }
          // &:nth-child(5)  { left: 77px; animation-duration: 400ms; }
          // &:nth-child(6)  { left: 96px; animation-duration: 427ms; }
          // &:nth-child(7)  { left: 115px; animation-duration: 441ms; }
          // &:nth-child(8)  { left: 134px; animation-duration: 419ms; }
          // &:nth-child(9)  { left: 153px; animation-duration: 487ms; }
          // &:nth-child(10) { left: 172px; animation-duration: 442ms; }
          // &:nth-child(11)  { left: 191px; animation-duration: 441ms; }
          // &:nth-child(12)  { left: 210px; animation-duration: 419ms; }
          // &:nth-child(13)  { left: 229px; animation-duration: 487ms; }
          // &:nth-child(14) { left: 248px; animation-duration: 442ms; }

          // le même résultat dynamisé avec une boucle Sass
          // l'animation duration est déléguée dans le JavaScript
          @for $i from 1 through 14  {
            &:nth-child(#{$i}) { left: -18px+19*$i; }
          }
        }

        &-progress {
          background-color: black;
          bottom: 100%;
          margin: 0;
          padding: 0;
          bottom: 0;
        }
      }

      &-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0.5rem;
        padding: 0 0.5rem;
        width: 250px;

        & p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

@keyframes appears {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappears {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 0%;
 }
 100% {
    opacity: 1;
    height: 100%;
 }
}