.details {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;

  &__close {
    position: absolute;
    right: 760px;
    top: -20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 2rem;
    transition-duration: 0.5s;

    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
      border: 1px solid white;
      transition-duration: 0.5s;
    }
  }

  &__zoom {
    width: 300px;
    height: fit-content;
    padding: 1rem;
    background-color: black;
    border-radius: 15px;

    &-mood {
      display: flex;
      flex-direction: row;
      width: 100%;

      &-mood {
        background-color: white;
        margin: 0.3rem;
        padding: 0.5rem;
      }
      &-result {
        background-color: white;
        margin: 0.3rem;
        padding: 0.5rem;
        border-radius: 12px;
        width: 100%;
        text-align: left;
      }
    }

    &-track {
      width: 280px;
      background-color: white;
      margin: 0.3rem;
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      height: 130px;
      
      &-band {
        margin: 0;
        width: 150px;
        text-align: right;
      }

      &-name {
        margin: 0;
        width: 150px;
        text-align: right;
      }

      &-image {
        position: absolute;
        width: 100px;
        top: 1rem;
        right: 1rem;
      }
    }

    &-tempo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
        background-color: white;
        border-radius: 12px;
        padding: 0.5rem
      }

      &-freq {
        background-color: white;
        border-radius: 12px;
        padding: 0.5rem
      }
    }

    &-analysis {
      position: relative;
      background-color: white;
      height: fit-content;
      padding: 0.5rem;
      
      &-title {
        text-align: start;
        padding: 0.5rem;
      }

      &-div {
        margin: 0.5rem;
        height: 120px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        display: flex;
        flex-direction: row;

        &-bar {
          width: 3px;
          height: 110px;
          margin: 0 0.5rem;
          padding: 0;
          background-color: black;
        }

        &-progress {
          background-color: white;
          bottom: 0;
          margin: 0;
          padding: 0;
          bottom: 0;
        }
      }

      &-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0.5rem;
        padding: 0 0.5rem;
        width: 250px;

        & p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}