.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;

  &__zoom {
    width: 300px;
    background-color: black;
    padding: 1rem;

    &-mood {
      display: flex;
      flex-direction: row;
      width: 100%;

      &-mood {
        background-color: white;
        margin: 0.3rem;
        padding: 0.5rem;
      }
      &-result {
        background-color: white;
        margin: 0.3rem;
        padding: 0.5rem;
        border-radius: 12px;
        width: 100%;
        text-align: left;
      }
    }

    &-track {
      width: 280px;
      background-color: white;
      margin: 0.3rem;
      padding: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      height: 130px;
      
      &-band {
        margin: 0;
        width: 150px;
        text-align: right;
      }

      &-name {
        margin: 0;
        width: 150px;
        text-align: right;
      }

      &-image {
        position: absolute;
        width: 100px;
        top: 1rem;
        right: 1rem;
      }
    }

    &-tempo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-title {
        background-color: white;
        border-radius: 12px;
        padding: 0.5rem
      }

      &-freq {
        background-color: white;
        border-radius: 12px;
        padding: 0.5rem
      }
    }

    &-analysis {
      background-color: white;
      
      &-title {
        text-align: start;
        padding: 0.5rem;
      }
    }
  }
}