.App {
  text-align: center;

  &__purpose {
    color: white;
    position: absolute;
    top: 170px;
    left: 150px;
    width: 550px;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    text-align: left;
  }

  &__author {
    font-size: 1rem;
    color: white;
    padding: 2rem 0 1rem 0;

    &-link {
      text-decoration: none;
      color: white;

      &:visited {
        text-decoration: none;
        color: white;
      }

      &:hover {
        color: #A4A4A4;
      }
    }
  }
}