.App {
  text-align: center;

  @media (max-width: 1399px) {
    margin-top: 100px;
  }

  &__purpose {
    color: white;
    font-family: 'Lora', serif;
    top: 0;
    font-size: 0.8rem;

    @media (min-width: 1400px) {
      position: absolute;
      top: 170px;
      left: 150px;
      width: 550px;
      font-size: 1.2rem;
      text-align: left;
    }
  }

  &__author {
    font-size: 1rem;
    color: white;
    padding: 2rem 0 1rem 0;

    &-link {
      text-decoration: none;
      color: white;

      &:visited {
        text-decoration: none;
        color: white;
      }

      &:hover {
        color: #A4A4A4;
      }
    }
  }
}