.home {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;

  &__map {
    position: relative;
    width: 100vw;
    padding-top: 5rem;

    &-image {
      width: 100vw;

      @media (min-width: 1400px) {
        width: 80vw;
      }
    }
  }

  &__icon {

    &-image {
      position: absolute;
      width: 7%;
      transition-duration: 0.3s;
      margin: .5rem;

      &:hover {
        width: 8%;
        cursor: pointer;
        transition-duration: 0.3s;
        margin: 0;
      }

      &--one {
        top: 50%;
        left: 15%;
      }

      &--second {
        top: 37%;
        left: 41%;
      }

      &--third {
        top: 63%;
        left: 45%;
      }

      &--fourth {
        top: 15%;
        left: 62%;
      }

      &--fifth {
        top: 50%;
        left: 60%;
      }
    }
  }
}