.home {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;

  &__map {
    position: relative;
    width: 100vw;

    @media (min-width: 1400px) {
      padding-top: 5rem;
    }

    &-image {
      width: 100%;

      @media (min-width: 1400px) {
        width: 80vw;
      }
    }
  }

  &__icon {
    animation: fadeIn .5s 1;

    &-image {
      position: absolute;
      width: 7%;
      transition-duration: 0.3s;
      margin: .5rem;

      &:hover {
        width: 8%;
        cursor: pointer;
        transition-duration: 0.3s;
        margin: 0;
      }

      &--one {
        top: 50%;
        left: 15%;
      }

      &--second {
        top: 37%;
        left: 41%;
      }

      &--third {
        top: 63%;
        left: 45%;
      }

      &--fourth {
        top: 15%;
        left: 62%;
      }

      &--fifth {
        top: 50%;
        left: 60%;
      }

      @media (max-width: 1399px) {
        &--one {
          top: 40%;
          left: 5%;
        }
  
        &--second {
          top: 30%;
          left: 38%;
        }
  
        &--third {
          top: 60%;
          left: 42%;
        }
  
        &--fourth {
          top: 5%;
          left: 65%;
        }
  
        &--fifth {
          top: 45%;
          left: 61%;
        }
      }
    }
  }

  &__icon--fadeOut {
    animation: fadeOut 2s 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}